@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

html{
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    color: #1c1c1c;
    background: #f5f5f5;
    font-family: 'Pokemon Solid', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    letter-spacing: .1em;
}
    
.fondo{
    font-size: 20px;
    font-family: 'Pokemon Solid', sans-serif;
    background-image: url("/static/images/fondo.jpg");
    margin-bottom: 75px;
}

.favoritoshtml{
    background-image: url('/static/images/favoritos.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    min-height: 100vh;
    padding-bottom: 50px;
}

.contenedor{
    border-color: #000000;
    margin-top: 20px;
}

.table-wrapper {
    min-width: 1000px;
    background: linear-gradient(to right, #ff1745, #2e51ff);
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-color: #000000;
}

.search-box {
    position: relative;
    float: right;
}

.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #0c2676;
    box-shadow: none;
}

.search-box input:focus {
    border-color: #3FBAE4;
}

.search-box i {
    color: #7a0085;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}

.table{
    border: #000000;
}

table.table tr th,
table.table tr td {
    background: linear-gradient(to top, #fc5c7d, #6a82fb, #fc5c7d );
    border-color: #000000;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #590000;
}

table.table-striped.table-hover tbody tr:hover {
    background: #000000;
    border-color: #000000;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child {
    width: 130px;
}

table.table td a {
    color: #a0a5b1;
    display: inline-block;
    margin: 0 5px;
}

table.table td a.view {
    color: #03A9F4;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #E34724;
}

table.table td i {
    font-size: 19px;
}

.pagination {
    float: right;
    margin: 0 0 5px;
}

.pagination li a {
    border: none;
    font-size: 95%;
    width: 30px;
    height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    padding: 0;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a {
    background: #03A9F4;
}

.pagination li.active a:hover {
    background: #0397d6;
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
}

.navbar {
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;     
    gap: 1rem;           
}

.nav-link {
  color: rgb(255, 238, 0);
  background-color: #0008ff;
    text-shadow: 2px 1px 2px rgb(0, 0, 0);
    letter-spacing: 0.10em;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
}

.nav-link:hover {
  background-color: #3c006d;
  color: #00ffe1;
  text-decoration: none;
}

.buscador{
  font-weight: 900;
  font-size: 3.8rem;
  color: #FFD800;
  text-shadow:
    -4px -4px 0 #2B58A7,  
    4px -4px 0 #2B58A7,
    -4px 4px 0 #2B58A7,
    4px 4px 0 #2B58A7,
    0 0 25px #00000088; 
  letter-spacing: 0.10em;
  margin-bottom: 20px;

}

.btn-type{
    padding: 15px 40px; 
    font-size: 20px; 
    min-width: 205px; 
    white-space: nowrap; 
    border-radius: 15px;
    letter-spacing: 0.10em;

}

.bg-fire {
  background-image: url('/static/images/bg_fire.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-water {
  background-image: url('/static/images/bg_water.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-grass {
  background-image: url('/static/images/bg_grass.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-default {
  background-image: url('/static/images/bg_default.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-body{
    font-size: 20px;
    text-shadow: 2px 1px 2px rgb(125, 114, 0);
    letter-spacing: 0.10em;
    color: rgb(0, 0, 0);
}
.card-title {
    font-size: 30px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 1px 2px rgb(0, 150, 170);
}

.index-page{
    font-size: 35px;
    color: rgb(0, 0, 0);
    background-image: url('/static/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.index-page h2{
  font-weight: 600;
  font-size: 3.8rem;
  color: #FFD800;
  text-shadow:
    -4px -4px 0 #2B58A7,  
    4px -4px 0 #2B58A7,
    -4px 4px 0 #2B58A7,
    4px 4px 0 #2B58A7,
    0 0 25px #00000088; 
  letter-spacing: 0.05em;
}

.formbuscar{
    margin: 30px 0
}

.inputbuscar{
    background: linear-gradient(to right, #5f9dc7, #6dd5fa, #ffffff);
    border: #2B58A7 1.5px solid;
    border-radius: 10px;
}

.btn-buscar{
    background: linear-gradient(to right, #373b44, #4286f4);
    border: #2B58A7 1.5px solid;
    border-radius: 10px;
    color: #ffffff;
    letter-spacing: 0.1em;
}

.footer{
    font-size: 35px;
    color: rgb(0, 0, 0);
    min-height: 75px;
    background-color: #00ffe1;
}

.badge-type {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 15px;
    color: rgb(24, 24, 24);
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(178, 178, 178, 0.3);
    letter-spacing: 0.2em;
    text-shadow: 1px 1px 0px rgb(255, 255, 255);

}

.badge-water {
    background-color: #6890F0;
    border: 2px solid #445E9C;
}

.badge-fire {
    background-color: #e00000;
    border: 2px solid #5f0000;
}

.badge-grass {
    background-color: #41c300;
    border: 2px solid #153e00;
}

.badge-electric {
    background-color: #a9c700;
    border: 2px solid #A1871F;
}

.badge-poison {
    background-color: #6c006c;
    border: 2px solid #2e002e;
}

.badge-flying{
    background-color: #00def2;
    border: 2px solid #004543;
}


.badge-bug {
    background-color: #6D7815;
    border: 2px solid #202500;
}

.badge-ground {
    background-color: #563f00;
    border: 2px solid #3d2d00;
}

.badge-normal {
    background-color: #909090;
    border: 2px solid #404040;
}

.badge-default {
    background-color: #b80000;
    border: 2px solid #6D6D4E;
}

.agregar{
    padding-left: 180px;
}

.btn-agregar{
    background: linear-gradient(to right, #1f0004, #b80217);
    border: #480000;
    border-radius: 10px;
    color: #f6ff00;
    letter-spacing: 0.1em;
}